@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' !important;
}

body {
    height: 100vh;
}

@media (max-width: 320px) {}

@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile devices */
}

@media (min-width: 481px) and (max-width: 760px) {
    /* iPads, Tablet */
}

@media (min-width: 761px) and (max-width: 1024px) {
    /* small screens, laptops */
}

@media (min-width: 1025px) and (max-width: 1299px) {
    /* Desktops, large screens */
}

@media (min-width: 1300px) {
    /* Extra large screens, TV devices */
}